<section class="news">

<ng-container>
  <section class="topic-section">
    <app-search-news (searchSubmit)="onSearchSubmit($event)"></app-search-news>
    <app-topic-ribbon (tabSelectedEvent)="onTabSelected($event)"></app-topic-ribbon>
  </section>
</ng-container>

<div class="newspage">
  @for (newsSection of newsSections; track newsSection; let i = $index) {
      <div class="news-article">
        <div>
          <a href="{{articles[i].link}}">
            <h2  class="{{newsSection.img_class}}">{{articles[i].title}}</h2>
          </a>  
        </div>
        <a href="{{articles[i].source_url}}">
          <span class="source-container">
            <img src="{{articles[i].source_icon}}" alt="src">
            <p class="source"><em><strong>Source: </strong>{{articles[i].source_id}}</em></p>
          </span>
        </a>
        <div class="content">
          <!-- <p class="{{newsSection.img_class}}"> -->
            <div class="img-container" *ngIf="articles[i].image_url !=null"><img src="{{articles[i].image_url}}" alt="img"></div>
            <div class="description">
              {{articles[i].description}}
            </div>
          <!-- </p> -->
        </div>
      </div>

  }
</div>

</section>