<mat-grid-list cols="4" rowHeight="100px">
  @for (newsSection of newsSectionGrid; track newsSection; let i = $index) {
  <mat-grid-tile [colspan]="newsSection.cols" [rowspan]="newsSection.rows"
    [style.background]="newsSection.background_color" [style.background]="newsSection.border_color">
    <ng-container *ngIf="i === 0">
      <section class="topic-section">
        <app-search-news (searchQueryEvent)="handleSearchQuery($event)"></app-search-news>
        <app-topic-ribbon></app-topic-ribbon>
      </section>
    </ng-container><ng-container *ngIf="i !== 0">
      <div class="news-article">
        <a href="{{articles[i].link}}">
          <h2 class="font-bold">{{articles[i].title}}</h2>
        </a>
        <a href="{{articles[i].source_url}}">
          <h4>{{articles[i].source_id}}</h4>
        </a>
        <ng-container ngIf="newsSection.cols===1; else largeSection">
          <img class="image-sm" src="{{articles[i].image_url}}" alt="img">
        </ng-container>
        <ng-template #largeSection>
          <img class="image-md" src="{{articles[i].image_url}}" alt="img">
        </ng-template>
        <p class="description font-12">{{articles[i].description}}</p>
      </div>
    </ng-container>
  </mat-grid-tile>
  }
</mat-grid-list>