.topics-tab {
  border: #33d954;
}

.tab-label{    
    color: #383838;
    padding: 10px 20px;
  }
.topics-tab .mat-tab-label.mat-tab-label-active {
  background-color: #3367d9;
}
@media only screen and (min-width: 600px) {

}
